<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <p th:text="${data}">Hello Thymeleaf!!</p>
</body>
</html>

<!--page112 ThymeleafExController의 model, data
    model.addAttribute("data", "타임리프 예제 입니다."); key,value
    model의 data라는 key값에 넣어준 값(타임리프~~)를 출력한다
    --출력재확인

    //레지스트리-컴파일오토메이크얼로우웬웹.러닝   옵션안보임
    파일-세팅-빌드익스큐션디플로이먼트-컴파일러-
    빌드 프로젝트 오토매티컬리  체크     --애플리케이션실행후 자바코드수정시 자동애플리케이션재시작



    프로퍼티 디폴트 적용

    p117
-->